.header__wrapper {
  z-index: 5;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 5px 0px;
}

.chat-body {
  padding: 10px 0px;
  padding-top: 100px;
}

.chat-body .header,
.chat-body .status-bar {
  padding: 0px 20px;
}

.chat-body .header {
  padding-bottom: 20px;
}

.chat-body .status-bar {
  padding-top: 10px;
}

.chat-body {
  background-image: url("../images/chatBg.png");
  min-height: 1000vh;
}

.chat-screen {
  margin-top: 10px;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0; /*그냥 left 0과 right 0을 적으면 가운데 정렬이고 margin: 0 auto까지 적어주면 fitxed 적용된 container에 쓰는 가운데 정렬을 쓰는 방법*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

@keyframes float {
  0% {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
}
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  animation: float 3s linear infinite;
}

.chat__icon {
  font-size: 14px;
  transition: opacity 0.5s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__timestamp3 {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: 600;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.message__content {
  width: 80%;
}

.message__timestamp1 {
  padding-top: 45px;
  font-size: 10px;
}

.message__timestamp2 {
  padding-top: 22px;
  padding-right: 4px;
  font-size: 10px;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.incoming-message img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__bubble {
  background-color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
}

.message__author {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0px;
  color: white;
  background-image: linear-gradient(to right, #7b4397, #dc2430);
}

.sent-message .message__bubble {
  border-top-right-radius: 0px;
  color: white;
  background-image: linear-gradient(to left, #7b4397, #dc2430);
  display: flex;
  justify-content: flex-end;
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnimation 1s ease-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnimation 1s ease-out forwards;
}
