.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0.7;
  font-weight: 600;
}

.status-bar__column i {
  font-size: 15px;
}

.status-bar__clock {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 5px;
  font-size: 14px;
}
